{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime" // https://github.com/facebook/jest/issues/3126#issuecomment-465926747
  ]
}